---
Checks: >
  -*,
  modernize-use-nullptr,
  modernize-loop-convert,
  modernize-use-override,
  modernize-replace-auto-ptr,
  modernize-make-unique,
  modernize-make-shared,
  modernize-use-default-member-init,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-using

# Filter project header files, while allowing out of tree builds
HeaderFilterRegex: '(dic/|game/|utils/|qt/).*\.(h|hpp|hxx)$'

# Explicitly ban system include paths from being modified
ExcludeHeaderFilterRegex: '^(/usr/|/opt/)'

