---
# TODO:
#   * To enable:
#       * modernize-pass-by-value
#       * modernize-use-nodiscard
#   * To study:
#       * modernize-macro-to-enum
#       * modernize-avoid-c-style-cast
#       * modernize-use-integer-sign-comparison
#       * bugprone-*
#       * performance-*
#       * misc-const-correctness
#       * readability-container-size-empty
#       * ...
#   * Probably not worth it:
#       * modernize-avoid-variadic-functions: only one occurrence, and the alternative is very verbose
#       * modernize-use-trailing-return-type: weird style, I'm not sold on it
Checks: >
  -*,
  modernize-*,
  -modernize-avoid-c-style-cast,
  -modernize-avoid-variadic-functions,
  -modernize-macro-to-enum,
  -modernize-pass-by-value,
  -modernize-use-integer-sign-comparison,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-empty-catch,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -bugprone-signed-char-misuse,
  -bugprone-string-integer-assignment,
  -bugprone-switch-missing-default-case,
  -bugprone-throwing-static-initialization,
  -bugprone-unchecked-string-to-number-conversion,
  misc-redundant-expression,
  readability-redundant-string-cstr


CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: '5'
  - key: modernize-use-auto.RemoveStars
    value: 'false' # Keeps pointers as auto*
  - key: modernize-use-auto.AutoWithRef
    value: 'true'  # Keep references as auto&
  - key: misc-const-correctness.AnalyzeValues
    value: 'false'
  - key: misc-const-correctness.TransformValues
    value: 'false'
  - key: misc-const-correctness.TransformPointers
    value: 'false'
  - key: misc-const-correctness.TransformReferences
    value: 'false'

# Filter project header files, while allowing out of tree builds
HeaderFilterRegex: '(dic/|game/|utils/|qt/).*\.(h|hpp|hxx)$'

# Explicitly ban system include paths from being modified
ExcludeHeaderFilterRegex: '^(/usr/|/opt/)'

