/config.h
/config.log
/tags
/dic/compdic
/dic/listdic
/dic/regexp
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/en@boldquot.po
/po/en@quot.po
/po/*.gmo
/po/*.mo
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/test/*.save
/test/*/*.run
/utils/eliotcurses
/utils/eliottxt
/linux
/win32
/extras/contrib/archives
/extras/contrib/build
/extras/contrib/inst
/extras/contrib/.*
/extras/reports/*.pyc
/qt/eliot
/qt/ui/*.h
/qt/*.moc.cpp
/qt/resources.cpp
/qt/ui_prefix.txt
/qt/eliot_autogen
/qt/win32icon.rc
/test/eliottxt
/test/eliottxt.exe
# CMake files
/.qt
/qt/eliot_autogen
/CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
*~
